
/* 文字色の変更 CSS03参考 */
/* h1 {
  ◆単語で指定する場合
  color: blue;

  ◆0〜255を指定する場合
  color: rgb(0, 255, 0);

  ◆16進数で指定する場合（0〜f）
  color: #00ff00;

  ◆16進数で00など2つ同じ文字を使う場合0で省略が可能 (00→0 ff→f)
  color: #0f0;

  ◆同じセレクターに対し、同じプロパティを複数設定した場合、最後に記載したものが適用
} */

body {
  color: #333;
  /* フォントの型の変更 最初に指定した文字がなければ、次に指定したものが適用される */
  font-family: Verdana, sans-serif;

  /* 余白の設定 */
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  /* 前後左右0pxの場合 */
  margin: 0px;
  /* 0pxの場合、pxを省略 */
  margin: 0;
}

header {
  /* 背景色の変更 */
  background-color: #efefef;
  /* 32px(上下) 0(左右) */
  padding: 32px 0;
}

.container {
  /* background-color: pink; */
  width: 400px;
  /* 中央寄せ */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* 親要素内にあるものを横並び */
  display: flex;
  /* 縦方向に中央揃え */
  align-items: center;
}

.icon {
  /* background-color: skyblue; */
}

.icon img {
  /* アイコンを丸くする */
  /* border-radius: 50px; */
  border-radius: 50%;

  /* 枠の幅 */
  border-width: 4px;

  /* 枠の種類 (普通の線) */
  border-style: solid;

  /* 枠の色 */
  border-color: white;
}

.info {
  /* background-color: tomato; */
  margin-left: 32px;
}

.info h1 {
  /* h1のデフォルト設定を変更 */
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.info p {
  margin: 0;
  margin-bottom: 16px;
}

.info ul {
  margin: 0;
  padding: 0;
  /* リストの黒丸を削除 */
  list-style: none;
  /* 横並び */
  display: flex;
}

.info ul li {
  margin-right: 8px;
}